body {
    background: #161616;
    width: 1440px;
    height: 1024px;
}

header {
    display: inline;

}

.logo p {
    position: absolute;
    width: 200px;
    height: 60px;
    left: 75px;
    top: 45px;

    color: #31FF9C;
    font-family: Roboto;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
}

.nav {
    display: inline-block;
    align-items: center;
}

.nav-gradient {
    width: 1440px;
    height: 125px;

    background: radial-gradient(49.93% 839.59% at 51.5% 49.41%, rgba(22, 22, 22, 0.1) 0%, rgba(57, 57, 57, 0.45) 100%);
}

.nav a{
    align-items: center;

    color: #fff;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 36px;
    padding-top: 10px;
    text-decoration: none;
}

.home {
    position: absolute;
    width: 100px;
    height: 60px;
    left: 803px;
    top: 41px;
    overflow: hidden;
}

.home:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 20px;
    background: #31FF9C;
    height: 4px;
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.home:hover:before {
    right: 2px;
}

.work {
    position: absolute;
    width: 100px;
    height: 60px;
    left: 1041px;
    top: 41px;
    overflow: hidden;
}

.work:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 20px;
    background: #31FF9C;
    height: 4px;
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.work:hover:before {
    right: 13px;
}


.about {
    position: absolute;
    width: 100px;
    height: 60px;
    left: 1269px;
    top: 41px;
    overflow: hidden;
}

.about:before {
    content:'';
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 20px;
    background: #31FF9C;
    height: 4px;
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.about:hover:before {
    right: 0;
}

.about-text {
    color: #fff;
    font-family: 'Roboto';
    font-size: 48px;
    line-height: 150%;
    letter-spacing: 0.3em;
}

strong {
    font-weight: bold;
}

.text {
    position: absolute;
    width: 632px;
    height: 504px;
    left: 129px;
    top: 250px;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social-media {
    position: absolute;
    width: 170px;
    height: 50px;
    left: 635px;
    top: 939px;
    background: #31FF9C;
    border-radius: 12px;
}

.linkedin {
    width: 45px;
    height: 45px;
}

.github {
    width: 45px;
    height: 45px;
}

.instagram {
    width: 45px;
    height: 45px;
}